__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

.ipynb_checkpoints/

.DS_Store
Thumbs.db

*.log

data/raw_midi/
data/processed/
data/train_test_split/

outputs/generated_midis/
outputs/plots/
outputs/survey_results/

checkpoints/
*.pt
*.pth

.vscode/
.idea/